@use "./componentes";

body{
    font-size: 16px;
    
}
.attribution{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.attribution a{
    color: white;
}